main.header-wrapper {
  border-bottom: 1px solid #EFEFEF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .navbar-section {
    a.navbar-item {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.9rem;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
}