.register-wrapper {
  height: calc(100vh);

  & > .row {
    height: calc(100vh);

    .register-left-column-content {
      min-width: 30rem;

      & > h1 {
        padding-bottom: 2rem;
      }

      .ant-input-affix-wrapper {
        padding: 6.5px 11px !important;
      }

      .links-area {
        width: 100%;
        text-align: center;
        padding-top: 4rem;

        a {
          font-weight: 700;
        }
      }
    }
  }
}