main.trx-box-wrapper {
  height: 100%;

  section.buttons-section {
    position: absolute;
    bottom: 5vh;
    text-align: right;
    right: 3rem;
  }

  .trx-box-drop-wrapper {
    padding-top: 1rem;
  }
}